{% extends 'basemain.html' %} {% load static %} {% block content %}
    <div class="main">
      <div class="">
        <a href="{{ back_to_topics_url }}">
          <button class="hovered p-2 mb-0 m-3" 
        style="border-width: 0px;
        border-radius: 5px;">
         <i class="bi bi-arrow-left"></i>
        </button>
      </a>
      </a>
        </div>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-9 col-lg-10">
            <div class="d-flex justify-content-between shadow mt-3 p-2 pb-1" style="align-items: center;">
              <div class="d-flex" style="align-items: center;"> 
              <button class="mt-1 mb-2 hovered btn p-2 text-center" onclick="location.href='{% url 'mcq_quiz' topic_slug=topic.slug question_num=question_num|add:'-1' %}'" style= "width:100px; border-color: rgb(227, 227, 227);">
                Prev
              </button>
              <p  class=" m-3">Question  {{ question_num }} of {{ total_questions }}</p>
              </div>
              <div class="d-flex" style="align-items: center;">
              <button type="button" class=" p-2  mt-3 mb-3 addImportantButton" id="bookmark"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Bookmark"  value="{{ current_question.id }}"
              style="border-width: 0px;
                 background-color: transparent;" >
                <i class="bi bi-bookmark "></i> 
            </button>
            <button class=" p-2  m-3 addDoubtButton" id="revise" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Revise" value="{{ current_question.id }}"
               style="border-width: 0px;
                 background-color: transparent;">
         <i class="bi bi-flag"></i>
                </button>
              <button class="mt-1 mb-2 hovered btn p-2 text-center" onclick="location.href='{% url 'mcq_quiz' topic_slug=topic.slug question_num=question_num|add:'1' %}'" style= "width:100px; border-color: rgb(227, 227, 227);">
                Next
              </button>
              </div>
              
            </div>
            <form method="post" action="{% url 'mcq_quiz' topic_slug=topic.slug question_num=question_num %}">
                {% csrf_token %}
                <p class="pt-3">{{ current_question }}</p>
                {% if feedback_color %}
                <div class="options mt-4">
                  <table class="table">
                    <tbody>
                      {% for option in opt_values %}
                      <tr class="{% if option == correct_ans %}green{% elif option == selected_option and selected_option != correct_ans %}red{% endif %}">
                        <td>
                          <p>{{ option }}</p>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% else %}
                <div class="card mt-4 p-2">
                  {% for option in opt_values %}
                  <li><input type="radio" id="option{{ forloop.counter }}" class="m-3 mt-0 mb-0" name="selected_option" value="{{ option }}" required>
                    <label class="mt-1 mb-1" for="option{{ forloop.counter }}">{{ option }}</label><br></li>
                  {% endfor %}
                </div>
                {% endif %}
                <input type="hidden" name="question_id" value="{{ current_question.id }}">
                <form method="post" action="{% url 'mcq_quiz' topic_slug=topic.slug question_num=question_num %}">
                  {% csrf_token %}
                  
                  <div class="d-flex justify-content-between">
                      <button type="submit" class="btn btn-primary mt-4">Submit</button>
                      
        
                  </div>
                
                
              </form>
              
                    
                   {% if messages %}
                      <ul class="dropdown-menu" aria-labelledby="bookmarkDropdown">
                        {% for message in messages %}
                        <li><span class="dropdown-item {{ message.tags }}">{{ message }}</span></li>
                        {% endfor %}
                      </ul>
                  {% endif %}
                
            </div>
                
          {% if feedback_color == 'green' %}
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-9 col-lg-10">
          <div class="accordion mt-4" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                        Explanation
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" style="background-color: azure;"
                     aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <strong>This is the Correct Answer.</strong> {{ current_question.explanation }}
                    </div>
                </div>
            </div>
        </div>

      {% elif feedback_color == 'red' %}
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-9 col-lg-10">

          <div class="accordion mt-4" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                        Explanation
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" style="background-color: azure;"
                     aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <strong>Incorrect! <br> Correct answer:{{ correct_ans }}. </strong> <br> Explanation: {{ current_question.explanation }}
                    </div>
                </div>
            </div>
        </div>
</div>
      {% endif %}
      </div>
            </div></div>
      <!-- <div class="conatiner">
        <div class="row d-flex justify-content-center">
          <div class=" col-12 col-md-9 col-lg-10  mt-5 mb-5">
            <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <button class="bg-transparent" style="border-width: 0px; "><a class="nav-link  active text-black" data-target="notes" >Notes</a></button>
                </li>
                <li class="nav-item">
                  <button class="bg-transparent" style="border-width: 0px;"><a class="nav-link text-black" data-target="overview" >Overview</a></button>
                </li>
                <li class="nav-item">
                  <button class="bg-transparent" style="border-width: 0px;"><a class="nav-link text-black" data-target="Discussions" >Discussions</a></button>
                </li>
                <li class="nav-item">
                  <button class="bg-transparent" style="border-width: 0px;"><a class="nav-link text-black" data-target="Resources" >Resources</a></button>
                </li>
                <li class="nav-item">
                  <button class="bg-transparent" style="border-width: 0px;"><a class="nav-link text-black" data-target="learning-tools" >Learning Tools</a></button>
                </li>
              </ul>
            </div>

          <div id="notes" class="content p-5" style="overflow-y: scroll;">
            <p>

              
  
              Surgery is a medical specialty that involves the use of operative techniques to investigate and treat various conditions or diseases in the body. It is a crucial aspect of healthcare, offering both diagnostic and therapeutic interventions. From routine procedures to complex surgeries, this field encompasses a wide range of techniques and approaches aimed at restoring health and improving quality of life.
              
              At its core, surgery involves the physical manipulation of tissues and organs to achieve a desired outcome. This can include removing diseased or damaged tissue, repairing injuries, correcting deformities, or even transplanting organs. Surgeons are highly trained medical professionals who possess both technical expertise and clinical knowledge to perform these procedures safely and effectively.
              
              The practice of surgery has evolved significantly over the centuries, driven by advancements in technology, anesthesia, and understanding of anatomy and physiology. Today, surgery encompasses various specialties, each focusing on specific areas of the body or types of procedures. These specialties include general surgery, orthopedic surgery, neurosurgery, cardiovascular surgery, plastic surgery, and many others.
              
              Before undergoing surgery, patients typically undergo a thorough evaluation to assess their overall health and determine the most appropriate treatment plan. This may involve diagnostic tests, consultations with specialists, and discussions about the risks and benefits of surgery. Informed consent is an essential aspect of the surgical process, ensuring that patients understand the procedure, its potential outcomes, and any associated risks.
              </p><p>
              The actual surgical procedure involves several key steps, beginning with anesthesia to ensure the patient is comfortable and pain-free during the operation. Depending on the type of surgery, anesthesia may be local (numbing a specific area), regional (numbing a larger area), or general (rendering the patient unconscious). Once anesthesia is administered, the surgeon makes incisions to access the surgical site.
              
              Throughout the procedure, the surgeon and operating room team use specialized instruments and equipment to perform the necessary manipulations and interventions. These may include scalpels, forceps, retractors, sutures, and various electronic devices for cutting, coagulating, or imaging. Surgical techniques can vary widely depending on the nature of the condition being treated and the goals of the procedure.
              
              After completing the necessary repairs or adjustments, the surgical site is carefully closed and dressed to promote healing and minimize the risk of infection. In some cases, additional post-operative care such as physical therapy or rehabilitation may be necessary to support recovery and restore function.
              
              While surgery can be highly effective in treating many conditions, it also carries inherent risks and potential complications. These can include bleeding, infection, anesthesia reactions, blood clots, and adverse reactions to medications or implants. Surgeons and healthcare teams take numerous precautions to minimize these risks, including thorough preoperative evaluation, meticulous surgical technique, and vigilant postoperative monitoring.
            </p><p>
              In recent years, technological innovations have revolutionized the field of surgery, leading to minimally invasive techniques such as laparoscopy and robotic-assisted surgery. These approaches offer benefits such as smaller incisions, shorter recovery times, and reduced risk of complications compared to traditional open surgery.
              
              Overall, surgery plays a vital role in modern medicine, offering hope and healing to millions of patients worldwide. Through ongoing research, innovation, and collaboration, surgeons continue to push the boundaries of what is possible, advancing the field and improving outcomes for patients now and in the future.
              
              
              
              
              
              
          </p>       
          </div>


          
            <div id="overview" class="content  p-5">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Topic  : {{ topic.topic_name}}
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="conatiner">
                        <div class="row d-flex">
                          <div class="col-12">
                          <div>
                            <div class="text-dark p-2">
                              {% for sub_topic in sub_topics %}
                              <div class="hovering">
                                  <div class="d-flex">
                                      <label for="{{ sub_topic.sub_topic_name }}" class="p-2">{{ sub_topic.sub_topic_name }}</label>
                                  </div>
                                  <p class="p-3 pt-0 pb-0"><i class="bi bi-clipboard2-check"></i> {{ sub_topic.question_count }} MCQS</p>
                              </div>
                              {% endfor %}
                          </div>
                          
                              
                            </div>
              
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="Discussions" class="content text-center p-5">
              <div class="container mt-4">
                
                <div class="topic-header">
                  <h1>Medicine Discussions</h1>
                  <p>Join the conversation about the latest trends and developments in medicine!</p>
                </div>
                
                <div class="comments-section">
                  
                  <div class="comment">
                    <p class="user">John Doe</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula aliquam eros, eu vehicula lorem ultrices quis. Nullam vel nulla nec ante sodales mollis nec non neque.</p>
                    <p class="timestamp">Posted: April 17, 2024</p>
                  </div>
                  
                  <div class="comment">
                    <p class="user">Jane Smith</p>
                    <p>Suspendisse potenti. Nunc lacinia hendrerit turpis, nec lobortis nunc finibus nec. Sed ac justo at nisi auctor accumsan.</p>
                    <p class="timestamp">Posted: April 16, 2024</p>
                  </div>
                  
                  <form class="mt-4">
                    <div class="form-group">
                      <label for="comment">Join the discussion:</label>
                      <textarea class="form-control" id="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Post Comment</button>
                  </form>
                </div>
              </div>
            </div>
          
            <div id="Resources" class="content text-center p-5">
              <div class="container">
                <div class="row">
                  <div class="col-12  mb-3 ">
                    <div class="card shadow p-3  hovered">
                          <div class=" text-center">  
                        <h1 class="text-center">Textbook of surgery</h1>
                         <p> <strong> The biological basis of modern surgical practice 21st Edition </strong></p>
                       
                        <div class="d-flex justify-content-between">
                        <p><strong>Authors : </strong> TOWNSEND
                          BEAUCHAMP, EVERS, MATTOX </p>
                           <p><strong>Pages :</strong> 2197</p>
                        </div>
                      </div>
                    </div>
                  </div>
                    </div>
                  </div>
            </div>
          
            <div id="learning-tools" class="content text-center p-5">
              <h2>This Is Learning Tools</h2>
            </div>   
            
            
          </div>
        </div>
      </div>
    </div>        
     -->
        
        
      

      
  
   
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>  
  <script>
 
    const radioButtons = document.querySelectorAll('input[type="radio"]');
    radioButtons.forEach(button => {
      button.addEventListener('click', function() {
        radioButtons.forEach(otherButton => {
          if (otherButton !== button) {
            otherButton.checked = false;
          }
        });
      });
    });
  </script>



<script>
  document.addEventListener("DOMContentLoaded", function() {
    const buttons = document.querySelectorAll('.nav-link');

    buttons.forEach(button => {
      button.addEventListener('click', function() {
        buttons.forEach(btn => {
          btn.classList.remove('active');
        });
        this.classList.add('active');
      });
    });
  });
</script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  // Define showToast outside of the document ready function
  var bookmarkElement =  document.getElementById("bookmark");
  var reviseElement = document.getElementById("revise")
  

  // Define updateQuestionHistory outside of the document ready function
  function updateQuestionHistory(questionId, action) {
    var csrfToken = "{{ csrf_token }}";
    $.ajax({
        url: "{% url 'update_question_history' %}",
        method: "POST",
        headers: {"X-CSRFToken": csrfToken},
        data: {
            question_id: questionId,
            action: action
        },
        
        success: function(response) {
            
            if (response.status === 'success') {
             
              if (action === "important") {
                reviseElement.innerHTML = '<i class="bi bi-flag"></i>'                                         
                reviseElement.classList.remove('bookmark')
                if (bookmarkElement.innerHTML=== '<i class="bi bi-bookmark-fill"></i>'){
    bookmarkElement.innerHTML = '<i class="bi bi-bookmark"></i>'
    bookmarkElement.classList.remove('bookmark')
    }else{
      bookmarkElement.innerHTML = '<i class="bi bi-bookmark-fill"></i>'
      bookmarkElement.classList.add('bookmark')
    }

               }
              else if (action==="doubt") {
                if (reviseElement.innerHTML=== '<i class="bi bi-flag-fill"></i>'){
                  reviseElement.innerHTML = '<i class="bi bi-flag"></i>'                                         
                    reviseElement.classList.remove('bookmark')
               }
               else{
      reviseElement.innerHTML = '<i class="bi bi-flag-fill"></i>'
      reviseElement.classList.add('bookmark')
    }
    
    bookmarkElement.innerHTML = '<i class="bi bi-bookmark"></i>'
      bookmarkElement.classList.remove('bookmark')  
              
              }
             
            }
        },

        error: function(xhr, status, error) {
            showToast('An error occurred. Please try again.');
        }
    });
  }

  $(document).ready(function() {
    // Event handlers for the buttons
    $(".addImportantButton, .addStarButton, .addDoubtButton").click(function() {
        var questionId = $(this).val();
        var action = $(this).hasClass('addImportantButton') ? 'important' :
                     $(this).hasClass('addStarButton') ? 'star' : 'doubt';
        updateQuestionHistory(questionId, action);

        // Toggle color for the icon
        var icon = button.find('i.bi');

        if (button.hasClass('active')) {
            icon.removeClass('bi-bookmark bi-flag'); // Remove the filled icons
            icon.addClass('bi-bookmark-plus bi-flag-fill'); // Add the outlined icons
        } else {
            icon.removeClass('bi-bookmark-plus bi-flag-fill'); // Remove the outlined icons
            icon.addClass('bi-bookmark bi-flag'); // Add the filled icons
        }
    });
});
  
</script>

  
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}


