<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="d-flex align-items-center justify-content-center mb-3">
    {% include 'includes/alerts.html' %}
  <div class="col-12 col-xl-5">
    <div class="login-form pt-5">
    
      <h2 class="text-center mb-3">Forgot Password</h2>
      <form action="{% url 'forgot_password' %}" method="POST"> 
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address" name="email" required>
        </div>
        <a href="{% url 'login' %}" class="float-right forgot-password mb-3">Got password? Login</a>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
      </form>
      <p class="text-center create-account">Don't Have Account ? <a href="{% url 'register' %}">Sign Up</a></p>
    </div>
  </div>
</div>

</body>
</html>